In [16]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census

# Census API Key
from config import api_key
a = Census(api_key, year=2014)
b = Census(api_key, year=2015)
c = Census(api_key, year=2016)
d = Census(api_key, year=2017)
e = Census(api_key, year=2018)
f = Census(api_key, year=2019)

In [17]:
# Median Household Income
# "B19013_001E"
# Median household income in the past 12 months

# Income Per Capita
# "B19301_001E"
# Per capita income in the past 12 months

# Poverty Count
# "B17001_002E"
# Number of persons whose income in the past 12 months is below the poverty level

# Family Poverty Count
# "B17012_002E"
# Number of families below the poverty level in the past 12 months

# Population
# "B01003_001E"
# Total population

# Median Home Value
# "B25077_001E"
# average value of an owner-occupied home

In [27]:
# Run Census Search to retrieve data on all zip codes (2014)
census_data_a = a.acs5.get(("NAME", "B19013_001E", "B19301_001E", "B17001_002E",
                          "B17012_002E", "B01003_001E", "B25077_001E"), {'for': 'zip code tabulation area:*'})

# Convert to DataFrame
census_pd_a = pd.DataFrame(census_data_a)

# Column Reordering
census_pd_a = census_pd_a.rename(columns={
    "B01003_001E": "Population", 
    "B17001_002E": "Poverty Count", 
    "B17012_002E": "Family Poverty Count",
    "B19013_001E": "Median Household Income", 
    "B19301_001E": "Per Capita Income", 
    "B25077_001E": "Median Home Value",
    "NAME": "Name", "zip code tabulation area": "Zipcode"})

# Add in Poverty Rate (Poverty Count / Population)
census_pd_a["Poverty Rate"] = (100 * census_pd_a["Poverty Count"].astype(int) / census_pd_a["Population"].astype(int)).round(2)

# Final DataFrame
census_pd_a = census_pd_a[[
    "Zipcode", 
    "Population", 
    "Poverty Count", 
    "Poverty Rate", 
    "Family Poverty Count", 
    "Median Household Income", 
    "Per Capita Income", 
    "Median Home Value"]]

# Filter Zipcode: limited to Sac County
census_sac_a = census_pd_a[census_pd_a["Zipcode"].isin([
    "95608", "95610", "95615", "95621", "95624", "95626", "95628", "95630", "95632", "95638", 
    "95639", "95641", "95652", "95655", "95660", "95662", "95670", "95673", "95680", "95683",
    "95690", "95693", "95742", "95757", "95758", "95811", "95814", "95815", "95816", "95817",
    "95818", "95819", "95820", "95821", "95822", "95823", "95824", "95825", "95826", "95827",
    "95828", "95829", "95830", "95831", "95832", "95833", "95834", "95835", "95837", "95838", 
    "95841", "95842", "95843", "95864"])]

# Visualize
print(len(census_sac_a))
census_sac_a.head()

54

,Zipcode,Population,Poverty Count,Poverty Rate,Family Poverty Count,Median Household Income,Per Capita Income,Median Home Value
30966,95608,60729.0,8301.0,13.67,1476.0,55256.0,34606.0,304200.0
30967,95610,43572.0,7174.0,16.46,1136.0,50536.0,25288.0,217100.0
30970,95615,1090.0,165.0,15.14,0.0,59028.0,29801.0,324000.0
30975,95621,41474.0,5842.0,14.09,1069.0,51827.0,24379.0,173700.0
30977,95624,63131.0,6848.0,10.85,1266.0,80233.0,29752.0,270400.0

In [26]:
# Run Census Search to retrieve data on all zip codes (2015)
census_data_b = b.acs5.get(("NAME", "B19013_001E", "B19301_001E", "B17001_002E",
                          "B17012_002E", "B01003_001E", "B25077_001E"), {'for': 'zip code tabulation area:*'})

# Convert to DataFrame
census_pd_b = pd.DataFrame(census_data_b)

# Column Reordering
census_pd_b = census_pd_b.rename(columns={
    "B01003_001E": "Population", 
    "B17001_002E": "Poverty Count", 
    "B17012_002E": "Family Poverty Count",
    "B19013_001E": "Median Household Income", 
    "B19301_001E": "Per Capita Income", 
    "B25077_001E": "Median Home Value",
    "NAME": "Name", "zip code tabulation area": "Zipcode"})

# Add in Poverty Rate (Poverty Count / Population)
census_pd_b["Poverty Rate"] = (100 * census_pd_b["Poverty Count"].astype(int) / census_pd_b["Population"].astype(int)).round(2)

# Final DataFrame
census_pd_b = census_pd_b[[
    "Zipcode", 
    "Population", 
    "Poverty Count", 
    "Poverty Rate", 
    "Family Poverty Count", 
    "Median Household Income", 
    "Per Capita Income", 
    "Median Home Value"]]

# Filter Zipcode: limited to Sac County
census_sac_b = census_pd_b[census_pd_b["Zipcode"].isin([
    "95608", "95610", "95615", "95621", "95624", "95626", "95628", "95630", "95632", "95638", 
    "95639", "95641", "95652", "95655", "95660", "95662", "95670", "95673", "95680", "95683",
    "95690", "95693", "95742", "95757", "95758", "95811", "95814", "95815", "95816", "95817",
    "95818", "95819", "95820", "95821", "95822", "95823", "95824", "95825", "95826", "95827",
    "95828", "95829", "95830", "95831", "95832", "95833", "95834", "95835", "95837", "95838", 
    "95841", "95842", "95843", "95864"])]


# Visualize
print(len(census_sac_b))
census_sac_b.head()

54

,Zipcode,Population,Poverty Count,Poverty Rate,Family Poverty Count,Median Household Income,Per Capita Income,Median Home Value
16984,95608,61344.0,9472.0,15.440793,1584.0,54407.0,35223.0,311900.0
16985,95610,44085.0,7179.0,16.284450,1228.0,50264.0,25091.0,228100.0
16988,95615,861.0,164.0,19.047619,0.0,55938.0,33464.0,243400.0
16993,95621,42063.0,6066.0,14.421225,1048.0,49911.0,23856.0,178900.0
16995,95624,64225.0,6920.0,10.774620,1310.0,80595.0,29992.0,290800.0

In [28]:
# Run Census Search to retrieve data on all zip codes (2016)
census_data_c = c.acs5.get(("NAME", "B19013_001E", "B19301_001E", "B17001_002E",
                          "B17012_002E", "B01003_001E", "B25077_001E"), {'for': 'zip code tabulation area:*'})

# Convert to DataFrame
census_pd_c = pd.DataFrame(census_data_c)

# Column Reordering
census_pd_c = census_pd_c.rename(columns={
    "B01003_001E": "Population", 
    "B17001_002E": "Poverty Count", 
    "B17012_002E": "Family Poverty Count",
    "B19013_001E": "Median Household Income", 
    "B19301_001E": "Per Capita Income", 
    "B25077_001E": "Median Home Value",
    "NAME": "Name", "zip code tabulation area": "Zipcode"})

# Add in Poverty Rate (Poverty Count / Population)
census_pd_c["Poverty Rate"] = (100 * census_pd_c["Poverty Count"].astype(int) / census_pd_c["Population"].astype(int)).round(2)

# Final DataFrame
census_pd_c = census_pd_c[[
    "Zipcode", 
    "Population", 
    "Poverty Count", 
    "Poverty Rate", 
    "Family Poverty Count", 
    "Median Household Income", 
    "Per Capita Income", 
    "Median Home Value"]]

# Filter Zipcode: limited to Sac County
census_sac_c = census_pd_c[census_pd_c["Zipcode"].isin([
    "95608", "95610", "95615", "95621", "95624", "95626", "95628", "95630", "95632", "95638", 
    "95639", "95641", "95652", "95655", "95660", "95662", "95670", "95673", "95680", "95683",
    "95690", "95693", "95742", "95757", "95758", "95811", "95814", "95815", "95816", "95817",
    "95818", "95819", "95820", "95821", "95822", "95823", "95824", "95825", "95826", "95827",
    "95828", "95829", "95830", "95831", "95832", "95833", "95834", "95835", "95837", "95838", 
    "95841", "95842", "95843", "95864"])]


# Visualize
print(len(census_sac_c))
census_sac_c.head()

54

,Zipcode,Population,Poverty Count,Poverty Rate,Family Poverty Count,Median Household Income,Per Capita Income,Median Home Value
13504,95608,60199.0,8680.0,14.42,1392.0,56891.0,36796.0,331500.0
13505,95610,44711.0,6767.0,15.13,1075.0,51271.0,25814.0,248000.0
13508,95615,970.0,197.0,20.31,0.0,66080.0,26284.0,309600.0
13513,95621,41908.0,5809.0,13.86,986.0,52462.0,25123.0,196200.0
13515,95624,64429.0,6571.0,10.20,1310.0,84854.0,32386.0,318900.0