In [16]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census

# Census API Key
from config import api_key
a = Census(api_key, year=2014)
b = Census(api_key, year=2015)
c = Census(api_key, year=2016)
d = Census(api_key, year=2017)
e = Census(api_key, year=2018)
f = Census(api_key, year=2019)

In [17]:
# Median Household Income
# "B19013_001E"
# Median household income in the past 12 months

# Income Per Capita
# "B19301_001E"
# Per capita income in the past 12 months

# Poverty Count
# "B17001_002E"
# Number of persons whose income in the past 12 months is below the poverty level

# Family Poverty Count
# "B17012_002E"
# Number of families below the poverty level in the past 12 months

# Population
# "B01003_001E"
# Total population

# Median Home Value
# "B25077_001E"
# average value of an owner-occupied home

In [18]:
# Run Census Search to retrieve data on all zip codes (2014)
census_data_a = a.acs5.get(("NAME", "B19013_001E", "B19301_001E", "B17001_002E",
                          "B17012_002E", "B01003_001E", "B25077_001E"), {'for': 'zip code tabulation area:*'})

# Convert to DataFrame
census_pd_a = pd.DataFrame(census_data_a)

# Column Reordering
census_pd_a = census_pd_a.rename(columns={
    "B01003_001E": "Population", 
    "B17001_002E": "Poverty Count", 
    "B17012_002E": "Family Poverty Count",
    "B19013_001E": "Median Household Income", 
    "B19301_001E": "Per Capita Income", 
    "B25077_001E": "Median Home Value",
    "NAME": "Name", "zip code tabulation area": "Zipcode"})

# Add in Poverty Rate (Poverty Count / Population)
census_pd_a["Poverty Rate"] = 100 * census_pd_a["Poverty Count"].astype(int) / census_pd_a["Population"].astype(int)

# Final DataFrame
census_pd_a = census_pd_a[[
    "Zipcode", 
    "Population", 
    "Poverty Count", 
    "Poverty Rate", 
    "Family Poverty Count", 
    "Median Household Income", 
    "Per Capita Income", 
    "Median Home Value"]]

# Visualize
print(len(census_pd_a))
census_pd_a.head()

33120

,Zipcode,Population,Poverty Count,Poverty Rate,Family Poverty Count,Median Household Income,Per Capita Income,Median Home Value
0,00601,18088.0,10911.0,60.321760,2567.0,10833.0,7229.0,105400.0
1,00602,40859.0,21724.0,53.168213,4779.0,16353.0,9048.0,91200.0
2,00603,53162.0,26027.0,48.957902,6001.0,16323.0,9888.0,128700.0
3,00606,6415.0,3778.0,58.893219,727.0,14138.0,6385.0,105800.0
4,00610,28805.0,14149.0,49.119944,3078.0,17265.0,8197.0,113700.0

In [21]:
# Run Census Search to retrieve data on all zip codes (2015)
census_data_b = b.acs5.get(("NAME", "B19013_001E", "B19301_001E", "B17001_002E",
                          "B17012_002E", "B01003_001E", "B25077_001E"), {'for': 'zip code tabulation area:*'})

# Convert to DataFrame
census_pd_b = pd.DataFrame(census_data_b)

# Column Reordering
census_pd_b = census_pd_b.rename(columns={
    "B01003_001E": "Population", 
    "B17001_002E": "Poverty Count", 
    "B17012_002E": "Family Poverty Count",
    "B19013_001E": "Median Household Income", 
    "B19301_001E": "Per Capita Income", 
    "B25077_001E": "Median Home Value",
    "NAME": "Name", "zip code tabulation area": "Zipcode"})

# Add in Poverty Rate (Poverty Count / Population)
census_pd_b["Poverty Rate"] = 100 * census_pd_b["Poverty Count"].astype(int) / census_pd_b["Population"].astype(int)

# Final DataFrame
census_pd_b = census_pd_b[[
    "Zipcode", 
    "Population", 
    "Poverty Count", 
    "Poverty Rate", 
    "Family Poverty Count", 
    "Median Household Income", 
    "Per Capita Income", 
    "Median Home Value"]]

# Visualize
print(len(census_pd_b))
census_pd_b.head()

33120

,Zipcode,Population,Poverty Count,Poverty Rate,Family Poverty Count,Median Household Income,Per Capita Income,Median Home Value
0,12810,724.0,78.0,10.773481,9.0,57500.0,25551.0,116200.0
1,12811,67.0,0.0,0.000000,0.0,-666666666.0,11590.0,-666666666.0
2,12812,58.0,0.0,0.000000,0.0,49583.0,23600.0,122500.0
3,12814,1282.0,51.0,3.978159,5.0,58176.0,35508.0,317100.0
4,12815,1103.0,159.0,14.415231,29.0,60458.0,30685.0,227300.0

In [20]:
# Run Census Search to retrieve data on all zip codes (2016)
census_data_c = c.acs5.get(("NAME", "B19013_001E", "B19301_001E", "B17001_002E",
                          "B17012_002E", "B01003_001E", "B25077_001E"), {'for': 'zip code tabulation area:*'})

# Convert to DataFrame
census_pd_c = pd.DataFrame(census_data_c)

# Column Reordering
census_pd_c = census_pd_c.rename(columns={
    "B01003_001E": "Population", 
    "B17001_002E": "Poverty Count", 
    "B17012_002E": "Family Poverty Count",
    "B19013_001E": "Median Household Income", 
    "B19301_001E": "Per Capita Income", 
    "B25077_001E": "Median Home Value",
    "NAME": "Name", "zip code tabulation area": "Zipcode"})

# Add in Poverty Rate (Poverty Count / Population)
census_pd_c["Poverty Rate"] = 100 * census_pd_c["Poverty Count"].astype(int) / census_pd_c["Population"].astype(int)

# Final DataFrame
census_pd_c = census_pd_c[[
    "Zipcode", 
    "Population", 
    "Poverty Count", 
    "Poverty Rate", 
    "Family Poverty Count", 
    "Median Household Income", 
    "Per Capita Income", 
    "Median Home Value"]]

# Visualize
print(len(census_pd_c))
census_pd_c.head()

33120

,Zipcode,Population,Poverty Count,Poverty Rate,Family Poverty Count,Median Household Income,Per Capita Income,Median Home Value
0,19610,15762.0,917.0,5.817790,128.0,70890.0,42621.0,223900.0
1,19611,10668.0,3069.0,28.768279,697.0,36823.0,17714.0,109700.0
2,19701,40611.0,1951.0,4.804117,317.0,81283.0,35149.0,262700.0
3,19702,53870.0,4988.0,9.259328,869.0,71094.0,32420.0,229500.0
4,19703,15196.0,1444.0,9.502501,249.0,53962.0,26673.0,206300.0